<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>Codebase [<%%= yield :title %>]</title>
    <%%= stylesheet_link_tag 'easy_authentication/default', :media => :all %>
    <%%= javascript_include_tag :all, :cache => true %>
    <%%= yield :header %>
  </head>
  <body>
    <table id="layout">
      <tr>
        <td id="head"colspan="2">
          <%%= render :partial => current_user %>
          <%%= yield :head %>
        </td>
      </tr>
      <tr id="content">
        <td id="page">
          <%% if flash.has_key? :notice -%>
            <div class="flash">
              <%%= flash[:notice] %>
            </div>
          <%% end -%>
          <%% if flash.has_key? :error -%>
            <div class="flash error">
              <%%= flash[:error] %>
            </div>
          <%% end -%>
          <%% shadowbox "page_content" do %>
            <%%= yield %>
          <%% end %>
        </td>
        <td id="sidebar">
          <%%= yield :sidebar %>
        </td>
      </tr>
    </table>
  </body>
</html>
