<h2><%%= t("phones.title") %></h2>
<%%= place_phone_form(contact) %>

<h2><%%= t("emails.title") %></h2>
<%%= place_email_form(contact) %>

<h2><%%= t("instant_messengers.title") %></h2>
<%%= place_instant_messenger_form(contact) %>

<h2><%%= t("web_sites.title") %></h2>
<%%= place_web_site_form(contact) %>

<h2><%%= t("addresses.title") %></h2>
<%%= place_address_form(contact) %>
