#addresses
  .address
    position: relative
    table.street_number
      td:first-child
        padding-right: 5px
      td
        input[type=text]
          width: 70px !important
    .type
      position: absolute
      top: 0
      left: 360px
    .zip
      width: 150px
