#contact_list
  li
    margin: 10px 0

  .important
    font-size: 16px

// #company_name,
// #person_name,
// #person_last_name
//   font-size: 20px
//   font-weight: bold

#contact_details 
  .label
    font-size: 10px
    font-weight: bold
    min-width: 60px

.auto_complete
  width: 350px
  background: #fff
  ul
    border: 1px solid #888
    margin: 0
    padding: 0
    width: 100%
    list-style-type: none
    li
      margin: 0
      padding: 3px
      .selected
        background-color: #ffb
      strong.highlight
        color: #800
        margin: 0
        padding: 0
