<%% content_tag(:ul, :id => "instant_messengers") do -%>
  <%% for instant_messenger in owner.instant_messengers -%>
    <%%= render :partial => "/instant_messengers/instant_messenger",
      :object => instant_messenger, :locals => { :owner => owner } %>
  <%% end -%>
<%% end -%>
<p>
  <%%= link_to_function t("instant_messengers.add_link") do |page|
    page.insert_html :bottom, :instant_messengers,
      :partial => "/instant_messengers/instant_messenger",
      :object => InstantMessenger.new,
      :locals => { :owner => owner }
  end %>
</p>
