#contact_details .label {
  font-size: 10px;
  font-weight: bold;
  min-width: 60px;
}

.address table {
  padding: 0;
  margin: 0;

}

.address td {
  padding: 0;
  padding-right: 5px;
  padding-bottom: 3px;
  margin: 0;
}
