<%% content_for :header do -%>
  <%%= stylesheet_link_tag "contacts", :media => :all %>
<%% end -%>

<h1>
  <div class="title_actions">
    <%%= link_to t("people.new.cancel"), people_url %>
  </div>
  <%%= t "people.new.title" %>
</h1>

<%%= render :partial => "/people/person", :object => @person %>
