<%% content_for :header do -%>
  <%%= stylesheet_link_tag "easy_contacts/default", :media => :all %>
  <%%= stylesheet_link_tag "easy_contacts/people", :media => :all %>
<%% end -%>
<%% content_for :sidebar do -%>
  <%%= render :partial => "contacts/contact_info", :object => @person %>
  <%% unless @person.company.blank? -%>
    <%%= render :partial => "contacts/contact_info", :object => @person.company %>
  <%% end -%>
<%% end -%>
<h1>
  <div class="title_actions">
    <%%= link_to t("people.show.back_link"), contacts_url %>
  </div>
  <%%= @person.full_name %><br />
  <span class="comment"><%%= @person.title_description %></span>
</h1>
