<%% content_for :sidebar do -%>
  <%%= render :partial => "contacts/contact_info", :object => @person %>
<%% end -%>
<h1>
  <%%= @person.full_name %><br />
  <span class="comment"><%%= @person.title_description %></span>
</h1>
