<%% form_for company do |form| %>
  <%%= error_messages_for :company %>
  <p>
    <%%= form.label :name %>
    <%%= required_field %><br />
    <%%= form.text_field :name %>
  </p>
  <hr />

  <%%= render :partial => "contacts/contact", :object => company %>

  <hr />
  <p>
    <%%= submit_tag t("forms.save") %>&nbsp;รณ
    <%%= link_to t("forms.cancel"), companies_url, :class => :red %>
  </p>
<%% end %>
