<%% content_for :header do -%>
  <%%= stylesheet_link_tag "easy_contacts/default", :media => :all %>
  <%%= stylesheet_link_tag "easy_contacts/companies", :media => :all %>
<%% end -%>
<h1>
  <div class="title_actions">
    <%%= link_to t("forms.cancel"), @company %>
  </div>
  <%%= t("companies.edit.title", :name => @company.name) %>
</h1>
<%% form_for @company do |form| %>
  <%%= render :partial => form %>
  <hr />
  <%%= render :partial => "contacts/contact", :object => @company %>
  <hr />
  <p>
    <%%= submit_tag t("forms.save") %>&nbsp;<%%= t("forms.or") %>
    <%%= link_to t("forms.cancel"), @company, :class => :red %>
  </p>
<%% end %>
