<%% content_for :header do -%>
  <%%= stylesheet_link_tag "easy_contacts/default", :media => :all %>
  <%%= stylesheet_link_tag "easy_contacts/companies", :media => :all %>
<%% end -%>

<%% content_for :sidebar do -%>
  <%% shadowbox "options_section", :class => "sidebar_section" do %>
    <%%= link_to t("companies.index.new_company_link"), new_company_url %><br />
  <%% end %>
<%% end -%>

<h1><%%= t("companies.index.title") %></h1>

<ul>
  <%% for company in @companies -%>
    <%% content_tag_for(:li, company) do %>
      <%%= link_to company.name, company,
        :class => "name important" %>
    <%% end %>
  <%% end -%>
</ul>
