<%% content_for :header do -%>
  <%%= stylesheet_link_tag "easy_contacts/default", :media => :all %>
  <%%= stylesheet_link_tag "easy_contacts/companies", :media => :all %>
<%% end -%>

<h1>
  <div class="title_actions">
    <%%= link_to t("companies.new.cancel"), companies_url %>
  </div>
  <%%= t "companies.new.title" %>
</h1>

<%%= render :partial => "/companies/company", :object => @person %>
