<%% content_tag_for(:li, address) do -%>
  <%% fields_for options[:fields_prefix], address do |form| -%>
    <%% unless address.new_record? -%>
      <%%= form.hidden_field :id, :index => nil %>
    <%% end -%>
    <table cellpadding="0" cellspacing="0" border="0" class="address">
      <tr>
        <td>
          <%%= form.text_area :address, :index => nil, :size => "50x3" %><br />
          <%%= form.label :city_name %><br />
          <%%= form.text_field :city_name, :index => nil, :autocomplete => :off %>
          <div id="<%%= dom_class(owner) -%>_address_attributes_city_name_auto_complete" class="auto_complete" style="display: none;"></div>
          <script type="text/javascript">
          //<![CDATA[
          var address_city_name_auto_completer = new Ajax.Autocompleter('<%%= dom_class(owner) -%>_address_attributes__city_name',
            '<%%= dom_class(owner) -%>_address_attributes_city_name_auto_complete',
            '<%%= formatted_cities_url(:js) -%>',
            {callback:function(element, value) { return 'search=' + element.value }, method:'get'})
          //]]>
          </script>
          <br />
          <table cellpadding="0" cellspacing="0" border="0">
            <tr>
              <td>
                <%%= form.label :province_name %><br />
                <%%= form.text_field :province_name, :index => nil, :autocomplete => :off %>
                <div id="<%%= dom_class(owner) -%>_address_attributes_province_name_auto_complete" class="auto_complete" style="display: none;"></div>
                <script type="text/javascript">
                //<![CDATA[
                var address_province_name_auto_completer = new Ajax.Autocompleter('<%%= dom_class(owner) -%>_address_attributes__province_name',
                  '<%%= dom_class(owner) -%>_address_attributes_province_name_auto_complete',
                  '<%%= formatted_provinces_url(:js) -%>',
                  {callback:function(element, value) { return 'search=' + element.value }, method:'get'})
                //]]>
                </script>
                <br />
              </td>
              <td>
                <%%= form.label :zip %><br />
                <%%= form.text_field :zip, :size => "5", :index => nil %>
              </td>
            </tr>
          </table>
          <%%= form.label :country_name %><br />
          <%%= form.text_field :country_name, :index => nil, :autocomplete => :off %>
          <div id="<%%= dom_class(owner) -%>_address_attributes_country_name_auto_complete" class="auto_complete" style="display: none;"></div>
          <script type="text/javascript">
          //<![CDATA[
          var address_country_name_auto_completer = new Ajax.Autocompleter('<%%= dom_class(owner) -%>_address_attributes__country_name',
            '<%%= dom_class(owner) -%>_address_attributes_country_name_auto_complete',
            '<%%= formatted_countries_url(:js) -%>',
            {callback:function(element, value) { return 'search=' + element.value }, method:'get'})
          //]]>
          </script>
          <br />
        </td>
        <td>
          <%%= form.collection_select :address_type_id,
            AddressType.all, :id, :description, {}, { :index => nil } %>
        </td>
      </tr>
    </table>
  <%% end -%>
  <br />
<%% end -%>
