<%% content_tag(:ul, :id => "emails") do -%>
  <%% for email in owner.emails -%>
    <%%= render :partial => email, :locals => { :owner => owner } %>
  <%% end -%>
<%% end -%>
<p>
  <%%= link_to_function t("emails.add_link") do |page|
    page.insert_html :bottom, :emails,
      :partial => "/emails/email",
      :object => Email.new,
      :locals => { :owner => owner }
  end %>
</p>
